h1, h2, p {
     margin-left: 50px;
     font-family: Garamond, serif;
}

h1 {
 text-align: center;
     margin-top: 10px;
}

p.title {
	margin-left: 20px;
}

body {
    background-color: lightblue;
    font-family: "Georgia", Times, serif;
}
