h1 {
	text-align: center;
}

h2 {
	margin-left: 20px;
}

p {
	margin-left: 35px;
}

body {
	background-color: lightblue;
	font-family: "Georgia", Times, serif;
}

img.cranium {
	width: 150px;
	height: 150px
}

img.amongUs {
	width: 192px;
	height: 108px;
}

img.uncharted {
	width: 128px;
	height: 72px;
}
